@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo_2/Exo2.ttf");
}
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Baloo_2/Baloo2.ttf");
}
