:root {
  --first-color: #fff;
  --second-color: #1c1d22;
  --second-color-opacity: #1c1d225b;
  --third-color: #eeeeee;
  --fourth-color: #ffa048;
  --fourth-opacity-color: #ffa0481a;
  --fifth-color: #ff7979;
  --fifth-opacity-color: #ff79791a;
  --sixth-color: #888da7;
  --sixth-opacity-color: #888da71a;
  --seventh-color: #76c318;
  --seventh-opacity-color: #4f986121;
  --eighth-color: #f60707;
  --ninth-color: #d5d5d5;
  --tenth-color: rgb(216, 216, 216);
  --eleventh-color:rgb(255, 255, 6);
  --eleventh-dark-color:rgb(113, 113, 2);
  --eleventh-opacity-color:rgba(255, 255, 0, 0.518);
  --eleventh-shadow-color:rgb(216, 216, 104);

  --black-color: #000000;
  --dropDown-color: #e3e3e3;
  --dropDown-text-color: #414141;
  --dropDown-shadow-green-color: #009f13;
  --dropDown-border-green-color: #006e0d;
  --dropdown-bg-color-active: #6faf75;

  --reserv-black-color: rgba(255, 255, 255, 0.1);
  --bg-popup-color: #232634d9;

  --font-family: "Exo 2";
  --second-family: "Baloo 2";

  --font-first-color: #1c1d22;
  --font-second-color: #1c1d2280;
  --font-third-color: #fff;
  --font-fourth-color: #ffffffd3;
}
